@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@100&display=swap");

.App {
  font-family: "Raleway", sans-serif;
  text-align: center;
  width: 100%;

  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
body {
  background-color: #4ecdc4;
  color: #f7fff7;
  margin: 0;
  padding: 0;
}

.title {
  font-family: "Dancing Script", cursive;
  font-size: 3rem;
}

.content {
  min-height: calc(100vh - 155px);
  max-width: 650px;
  margin: 0 auto;
}
.form {
  margin: 3rem 0;
}

label,
input,
button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  border: none;
  border-radius: 5px;
  font-size: x-large;
}

button {
  background-color: #1a535c;
  color: #f7fff7;
  padding: 0.5rem;
}

input {
  padding: 0.2rem;
}

.output {
  padding: 5px;
}

.title {
  color: #1a535c;
}

footer {
  background-color: #1a535c;
  width: 100%;
}

footer h1 {
  padding: 1rem;
  margin: 0;
}

footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0;
  margin: 0;
}

.social-links li {
  list-style: none;
  padding: 1rem;
}

@-webkit-keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
@keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
.hvr-buzz {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-buzz:hover,
.hvr-buzz:focus,
.hvr-buzz:active {
  -webkit-animation-name: hvr-buzz;
  animation-name: hvr-buzz;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
